/* Custom Colors */
.bg-background {
  background-color: #D9E4EC;
}

.bg-background-dark {
  background-color: #2C3E50;
}

.bg-background-dark-accent {
  background-color: #34495E;
}

.text-accent-color-1 {
  color: #3498DB;
}

.text-accent-color-1-dark {
  color: #2880B9;
}

.text-accent-color-2 {
  color: #2ECC71;
}

.text-accent-color-2-dark {
  color: #26AE60;
}

.hr-dark{
  border-color: #2C3E50;
}
